name: Build binaries
on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
jobs:
  pyinstaller-build:
    runs-on: windows-latest
    steps:
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.11'
          spec: 'LPHK.py'
          requirements: 'INSTALL/requirements.txt'
          upload_exe_with_name: 'My executable'
          options: --onefile, --name "LPHK", --windowed, ---icon=resources\LPHK.ico, --add-data Version;., --add-data resources\;resources\
